//<QUANTITY>
// Сниппет (HTML): qa
.quantity {
	min-width: 0;
	height: 50px;
	display: flex;
	border-radius: 3px;
	// .quantity__button
	&__button {
		flex: 0 0 50px;
		position: relative;
		background-color: #141414;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #fff;
			width: 9px;
			height: 2px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba($color: #e8aa31, $alpha: 1);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 0 0 50px;
		max-width: 50px;
		input {
			background-color: rgba(210, 210, 210, 0.3);
			height: 100%;
			color: #000000;
			font-size: 18px;
			width: 100%;
			text-align: center;
		}
	}
}
