//====================================================================================================
.footer {
	background-color: #141414;
	// .footer__container
	&__container {
	}
	// .footer__top
	&__top {
		@include adaptiveValue("padding-top", 100, 40);
		@media (min-width: $mobileSmall) {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			padding-bottom: 30px;
		}
	}
	// .footer__body
	&__body {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	// .footer__bottom
	&__bottom {
		padding-top: 30px;
		@include adaptiveValue("padding-bottom", 50, 30);
	}
}
.top-footer {
	display: flex;
	column-gap: 30px;
	@media (max-width: $tablet) {
		flex-wrap: wrap;
		@include adaptiveValue("row-gap", 50, 30, 0, 991.98, 479.98);
		@include adaptiveValue("column-gap", 50, 15, 0, 991.98, 479.98);
	}
	// .top-footer__column
	&__column {
		flex: 0 1 23%;

		@media (max-width: $tablet) {
			flex: 0 1 47%;
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 100%;
		}
	}
	// .top-footer__title
	&__title {
		font-weight: 600;
		line-height: math.div(24, 18);
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 10px;
		height: 40px;
		display: flex;
		align-items: center;
		&._spoller-active {
			&::before {
				transform: rotate(180deg);
			}
		}
		&::before {
			transition: transform 0.3s ease 0s;
			@extend %ic;
			@extend ._icon-arrow;
			display: none;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: row-reverse;
			justify-content: space-between;
			height: auto;
			margin-bottom: 15px;
			&::before {
				display: block;
				font-size: 12px;
			}
		}
	}
	// .top-footer__list
	&__list {
	}
	// .top-footer__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .top-footer__link
	&__link {
		line-height: math.div(27, 18);
		color: rgba(255, 255, 255, 0.8);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//========================================================================================================================================================
.body-footer {
	padding-top: 35px;
	padding-bottom: 30px;
	// .body-footer__row
	&__row {
		display: flex;
		margin-bottom: rem(30);
		justify-content: space-between;
		column-gap: 15px;
		@media (max-width: $tablet) {
			@include adaptiveValue("row-gap", 50, 30, 0, 991.98, 479.98);
			flex-wrap: wrap;
		}
	}
	// .body-footer__column
	&__column {
		flex: 0 1 23%;
		@media (min-width: $tablet) {
			&:nth-child(2) {
				flex: 0 1 18%;
			}
		}
		@media (max-width: $tablet) {
			flex: 0 1 47%;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
		}
	}
	// .body-footer__title
	&__title {
		font-weight: 600;
		line-height: math.div(24, 18);
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 15px;
		height: 40px;
		display: flex;
		align-items: center;
		&._spoller-active {
			&::before {
				transform: rotate(180deg);
			}
		}
		&::before {
			transition: transform 0.3s ease 0s;
			@extend %ic;
			@extend ._icon-arrow;
			display: none;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: row-reverse;
			justify-content: space-between;
			height: auto;
			margin-bottom: 15px;
			&::before {
				display: block;
				font-size: 12px;
			}
		}
	}
	// .body-footer__list
	&__list {
	}
	// .body-footer__item
	&__item {
		display: flex;
		align-items: center;
		column-gap: 15px;
		color: rgba(255, 255, 255, 0.8);
		line-height: math.div(27, 18);
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		// .body-footer__item_schedule
		&_schedule {
			align-items: flex-start;
			&::before {
				line-height: math.div(27, 18);
			}
		}
		// .body-footer__item_location
		&_location {
			align-items: flex-start;
			&::before {
				line-height: math.div(27, 18);
			}
		}
		// .body-footer__item_rules
		&_rules {
			display: block;
			a {
				color: #e8aa31;
			}
			@media (any-hover: hover) {
				&:hover {
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
	// .body-footer__link
	&__link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .body-footer__newsletter
	&__newsletter {
	}
	// .body-footer__socials
	&__socials {
	}
}
.newsletter-footer {
	// .newsletter-footer__text
	&__text {
		color: rgba(255, 255, 255, 0.8);
		margin-bottom: rem(25);
	}
	// .newsletter-footer__block
	&__block {
		display: flex;
		height: 50px;
		margin-bottom: 20px;
	}
	// .newsletter-footer__input
	&__input {
		flex: 1 1 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.05);
		border-radius: 3px 0 0 3px;
		color: #fff;
		font-size: 16px;
		outline: none;
		&::placeholder {
			color: rgba(255, 255, 255, 0.52) !important;
		}
	}
	// .newsletter-footer__button
	&__button {
		height: 100%;
		border-radius: 0 3px 3px 0;
		min-width: unset;
		flex: 0 0 50px;
		margin-left: -1px;
		box-shadow: none;
		&::before {
			font-size: 15px;
			transform: rotate(-90deg);
			font-size: 13px;
		}
	}
	// .newsletter-footer__checkbox
	&__checkbox {
		.checkbox {
			// .checkbox__input
			&__input {
			}
			// .checkbox__label
			&__label {
			}
			// .checkbox__text
			&__text {
				font-size: 16px;
				line-height: math.div(22, 16);
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
}
.socials-footer {
	display: flex;
	column-gap: 20px;
	// .socials-footer__item
	&__item {
	}
}
//====================================================================================================
.bottom-footer {
	display: flex;
	justify-content: space-between;
	column-gap: 50px;
	@media (max-width: $tablet) {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 20px;
	}
	// .bottom-footer__text
	&__text {
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;
		line-height: math.div(27, 14);
		max-width: 817px;
		// .bottom-footer__text_copyright
		&_copyright {
			text-align: right;
			white-space: nowrap;
		}
	}
}
