@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

// Подключить, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить, если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию с макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$orangeColor: #e8aa31;

// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1590;
// Общее отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивый (у контейнера нет брейкпоинтов),
// 2 = по брейк-пойнтам (контейнер изменяет свою ширину по брейк-пойнту)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	font-weight: 500;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивый
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поинты
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/выключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "catalog";
@import "product";

//========================================================================================================================================================
.page {
	// .page__main
	&__main {
		@include adaptiveValue("padding-top", 40, 30);
		@include adaptiveValue("padding-bottom", 60, 45);
	}
	// .page__catalog
	&__catalog-cards {
		@include adaptiveValue("padding-top", 100, 30);
		@include adaptiveValue("padding-bottom", 60, 30);
	}
	// .page__product-hits
	&__product-hits {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 160, 45);
	}
	// .page__product-news
	&__product-news {
		// .page__product-news_no-top
		&_no-top {
			.product-news {
				&::before {
					width: 100%;
				}
			}
		}
	}
	// .page__product-sale
	&__product-sale {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 45);
		// .page__product-sale_no-bullet
		&_no-bullet {
			.product-slider__bullets {
			}
		}
	}
	// .page__product-articles
	&__product-articles {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 45);
	}
	// .page__products-block
	&__products-block {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 45);
	}
	// .page__products-lighter
	&__products-lighter {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 45);
	}
	// .page__footer-text
	&__footer-text {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 45);
	}
	// .page__header
	&__header {
		padding: 30px 0;
	}
}
